.main{
    background-color: black; display: inline-block;
    padding: 20px;
    border-radius: 20px;
    }
.btn{
    margin: 5px;
    width: 30px;
    padding: 3px;
    cursor: pointer;
    border: none;
    font-size: 20px;
    }
.screen{
    padding: 6px;
    width: 154px;
    margin-bottom: 5px;
        }
.btnc{
background-color: red;
}
.btne{
background-color: orangered;
}